## Prerequisites ##
*.d

## Compiled Object Files ##
*.slo
*.lo
*.o
*.obj

## Precompiled Headers ##
*.gch
*.pch

## Linker Files ##
*.ilk

## Debugger Files ##
*.pdb

## Compiled Dynamic libraries ##
*.so
*.dylib
*.dll

## Fortran Module Files ##
*.mod
*.smod

## Compiled Static Libraries ##
*.lai
*.la
*.a
*.lib

## Executables ##
*.exe
*.out
*.app

## Debug information Files ##
*.dwo

## Build ##
build/
bin/

## IDE ##
.vscode/

## Logging ##
logs/
*.log

## Other ##
desktop.ini
