#include <windows.h>

IDI_ICON1 ICON "wordle.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Connor Sempf"
            VALUE "FileDescription",  "Wordle - A Word Guessing Game"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "Wordle"
            VALUE "LegalCopyright",   "Connor Sempf 2026. Wordle game clone from the New York Times."
            VALUE "OriginalFilename", "Wordle.exe"
            VALUE "ProductName",      "Wordle"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
