[Desktop Entry]
Version=1.0.0
Type=Application
Name=Wordle
Comment=A word-guessing game
Exec=Wordle
Icon=Wordle
Categories=Game
Terminal=false
StartupNotify=true;
